<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{% block title %}BirdieMessages{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>

<body>

    <header>

        <!-- LOGO -->
        <div class="logo-container">
            <img src="{{ url_for('static', path='logo.png') }}" alt="Logo" width="60">

            <h1>BirdieMessages</h1>
        </div>

        <nav>
            <a href="/">Home</a>

            {% if user %}
                <a href="/create_message">Post</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/create_user">Register</a>
            {% endif %}
        </nav>

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>