<!DOCTYPE html>
<html>
<head>
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <header>
        <h1>My Awesome Webpage</h1>
        <nav>
            <a href="/">Home</a> | 
            <a href="/create_user">Register</a> | 
            <a href="/login">Login</a> | 
            <a href="/create_message">New Message</a> | 
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>